<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.css">
    <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.2.16/angular.js"></script>
  </head>
  <body data-ng-app="ra">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div data-ng-controller="NavBarController" class="container">
        <div class="navbar-header"><a ui-sref="main" class="navbar-brand">无名</a></div>
        <ul class="nav navbar-nav">
          <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle"><span>数据</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a data-ng-click="viewMatches()">比赛历史</a></li>
              <li><a data-ng-click="viewMatches(true)">比赛历史(管理)</a></li>
              <li><a data-ng-click="viewLast12()">最近12场-古典算法</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle"><span>操作</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a data-ng-click="addUser()">新球员</a></li>
              <li><a data-ng-click="addMatchday()">新比赛日</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div data-ui-view="main" class="main-ui-view"></div>
    <link rel="stylesheet" href="//cdn.bootcss.com/ng-grid/2.0.11/ng-grid.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/table.css">
    <script src="//cdn.bootcss.com/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>
    <script src="//cdn.bootcss.com/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="//cdn.bootcss.com/ng-grid/2.0.11/ng-grid.min.js"></script>
    <script src="/js/module.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/controllers.js"></script>
  </body>
</html>