.nav a,
.pagination a,
.carousel a,
.panel-title a,
.table a {
  cursor: pointer;
}
body {
  padding-top: 50px;
}
* {
  box-sizing: border-box;
}
.all-in-viewport {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
}
.grid-style {
  border: 1px solid #d4d4d4;
  width: 100%;
  height: 100%;
}
