table.table
  border-collapse collapse
  margin-bottom 3em
  width 100%
  background #fff

  thead tr 
    th 
      height 28px
      text-align center
      font-weight bold
      background-color #31bc86
      color #fff
      white-space nowrap
    th.first
      background-color #666


  tbody tr 
    td
      text-align center
      white-space nowrap
    td.first
      background-color #2ea879


/* For appearance */
// .sticky-wrap
//   overflow-x auto
//   overflow-y hidden
//   position relative
//   margin 3em 0
//   width 100%

// .sticky-wrap 
//   .sticky-thead, .sticky-col, .sticky-intersect 
//     opacity 0
//     position absolute;
//     top 0
//     left 0
//     transition all .125s ease-in-out;
//     z-index 50
//     width auto  Prevent table from stretching to full size 

//   .sticky-thead 
//     box-shadow 0 0.25em 0.1em -0.1em rgba(0,0,0,.125)
//     z-index 100
//     width 100% /* Force stretch */
  
//   .sticky-intersect 
//     opacity 1
//     z-index 150

//     th 
//       background-color #666
//       color #eee
    
//   td, th 
//     box-sizing border-box
