.modal-header
  h3.modal-title 修改成绩

.modal-body
  h3
    span(data-ng-bind='user.name')
    | 于第
    span(data-ng-bind='matchday.id')
    | 比赛日的成绩

  .input-group.input-group-lg
    input.form-control(type='number' data-ng-modal='user_matchday_score')
    span.input-group-btn
      button.btn.btn-default(type='button' data-ng-click='user_matchday_score=""') 空值
    span.input-group-btn
      button.btn.btn-default(type='button' data-ng-click='resetUserMatchdayScore()') 重置

.modal-footer
  button.btn.btn-primary(data-ng-click='ok()') 确定
  button.btn.btn-warning(data-ng-click='cancel()') 取消