
<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>球员 / 比赛日</th>
          <th data-ng-repeat="matchday in capsule.matchdays">第<span data-ng-bind="matchday.seq"></span>比赛日</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="user in capsule.users">
          <td data-ng-bind="user.name"></td>
          <td data-ng-repeat="matchday in user.matchdays"><span data-ng-bind="matchday[user._id]"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>