.container
  .row
    table.table
      thead
        tr
          th 球员 / 比赛日
          th(data-ng-repeat='matchday in capsule.matchdays')
            | 第
            span(data-ng-bind='matchday.seq')
            | 比赛日
      tbody
        tr(data-ng-repeat='user in capsule.users')
          td(data-ng-bind='user.name')
          td(data-ng-repeat='matchday in user.matchdays')
            span(data-ng-bind='matchday[user._id]')