
<div class="modal-header">
  <h3 class="modal-title">创建用户</h3>
</div>
<div class="modal-body">
  <form role="form" name="userCreation">
    <div class="form-group">
      <label for="user-email">邮箱：<span ng-show="userCreation.userEmail.$error.required" class="formerror">待填</span><span ng-show="userCreation.userEmail.$error.email" class="formerror">格式错误</span></label>
      <input type="email" id="user-email" name="userEmail" placeholder="输入邮箱" data-ng-model="user.auth.email" required="required" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="user-name">名字：<span ng-show="userCreation.userName.$error.required" class="formerror">待填</span></label>
      <input type="text" id="user-name" name="userNickname" placeholder="输入昵称" data-ng-model="user.name" required="required" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="user-password">密码：<span ng-show="userCreation.userPassword.$error.required" class="formerror">待填</span></label>
      <input type="text" id="user-email" name="userPassword" placeholder="初始密码" data-ng-model="user.auth.password" required="required" class="form-control"/>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button data-ng-click="ok()" data-ng-disabled="userCreation.$invalid" class="btn btn-primary">确定</button>
  <button data-ng-click="cancel()" class="btn btn-warning">取消</button>
</div>