.modal-header
  h3.modal-title 用户登录

.modal-body
  form(role='form' name='userSignin')
    .form-group
      label(for='user-email') 邮箱：
        span.formerror(ng-show="userSignin.userEmail.$error.required") 待填
        span.formerror(ng-show="userSignin.userEmail.$error.email") 格式错误
      input.form-control(type='email' id='user-email' name='userEmail' placeholder='输入邮箱' data-ng-model='user.auth.email' required)

    .form-group
      label(for='user-password') 密码：
        span.formerror(ng-show="userSignin.userPassword.$error.required") 待填
      input.form-control(type='text' id='user-email' name='userPassword' placeholder='初始密码' data-ng-model='user.auth.password' required)

.modal-footer
  button.btn.btn-primary(data-ng-click='ok()' data-ng-disabled="userSignin.$invalid") 确定
  button.btn.btn-warning(data-ng-click='cancel()') 取消